<div class="form-row">
  <%= simple_form_for(@bunker) do |f| %>
    <%= f.input :name, placeholder: "Name" %>
    <%= f.input :price, placeholder: "Price" %>
    <%= f.input :capacity, placeholder: "Capacity" %>
    <%= f.input :address, placeholder: "Address" %>
    <%= f.input :description, placeholder: "Description" %>
    <%= f.submit %>
  <% end %>
</div>
