<%= render "shared/search_form" %>
<div class="cards mt-5">
  <% @bunkers.each do |bunker| %>
    <div class="card-category">
      <div class="card-trip">
        <% if bunker.photo.attached? %>
          <%= link_to bunker_path(bunker) do %>
            <%= cl_image_tag bunker.photo.key %>
          <% end %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= bunker.name %></h2>
            <p><%= bunker.description %></p>
          </div>
          <h2 class="card-trip-pricing">€<%= bunker.price %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
  <% end %>
</div>
