<!DOCTYPE html>
<html>
  <head>
    <title>Thebunker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashed' %>
    <%= render "shared/navbar" %>
    <%= render "shared/search_form" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
